[General]
Show_Colored_Bars=false
Preferred_Height=454
Number_Chips=1
Tachos_ColorValue=1.2000000476837158
Tachos_Alpha=0.64444446563720703

[Chip0]
Name=ACPI
Number=0

[Chip0_Feature0]
Address=0
Name=temp
Color=#0000B0
Show=true
Min=20
Max=60

