# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# basic layers and my custom layer
BBLAYERS ?= " \
  %%SRC_DIR%%/poky/meta \
  %%SRC_DIR%%/poky/meta-poky \
  %%SRC_DIR%%/poky/meta-yocto-bsp \
  %%SRC_DIR%%/meta-custom \
"

# raspberrypi
BBLAYERS += " \
  %%SRC_DIR%%/meta-raspberrypi \
  %%SRC_DIR%%/meta-openembedded/meta-oe \
"

# Pironman 5 Series - NVMe M.2 SSD PCIe Mini PC Case for Raspberry Pi 5
BBLAYERS += " \
  %%SRC_DIR%%/meta-pironman5 \
"

# samba
BBLAYERS += " \
  %%SRC_DIR%%/meta-openembedded/meta-networking \
  %%SRC_DIR%%/meta-openembedded/meta-python \
"

# chicago95
BBLAYERS += " \
  %%SRC_DIR%%/meta-openembedded/meta-xfce \
  %%SRC_DIR%%/meta-openembedded/meta-gnome \
  %%SRC_DIR%%/meta-openembedded/meta-multimedia \
  %%SRC_DIR%%/meta-openembedded/meta-initramfs \
"

# mono
BBLAYERS += " \
  %%SRC_DIR%%/meta-mono \
"

