[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/org.freedesktop.IBus.Setup.desktop]
row=2
col=1

[/root/Desktop/htop.desktop]
row=0
col=1

[/root/Desktop/vim.desktop]
row=6
col=0

[/root/Desktop/opentabletdriver.desktop]
row=8
col=0

[/root/Desktop/gimp.desktop]
row=3
col=0

[/root/Desktop/chromium.desktop]
row=7
col=0

[/root/Desktop/xfce4-terminal-emulator.desktop]
row=1
col=1

[/root/Desktop/gvim.desktop]
row=5
col=0

[/root/Desktop/audacious.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

