[Desktop Entry]
Version=1.5
Name=OpenTabletDriver
Comment=A cross-platform open-source tablet driver
Exec=otd-gui
Icon=/usr/local/share/pixmaps/otd.png
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
StartupWMClass=OpenTabletDriver.UX
